In [2]:
# 05_numeric.ipynb

In [3]:
import pandas as pd

In [4]:
movie_df = pd.read_csv("movie_ratings.csv")

In [5]:
movie_df.head()

   UserID  MovieID  Rating  Age  Occupation    Genre
0      45        8       4   55  Unemployed   Horror
1      48        5       3   15    Engineer   Action
2      65        4       2   55     Student  Romance
3      68        6       5   45      Doctor   Comedy
4      68        7       4   25    Engineer  Romance

In [6]:
movie_df["Age"].mean()
movie_df["Age"].min()
movie_df["Age"].max()

np.int64(60)

In [7]:
movie_df["Rating"].describe()

count    500.000000
mean       2.998000
std        1.434612
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: Rating, dtype: float64

In [8]:
movie_df["MovieID"].mode()[0]  # 열을 먼저 접근
mode_movie_id = movie_df.mode()["MovieID"][0]  # 모든 열의 최빈값을 먼저 계산

# 가장 많은 영화 ID 만 선택
condition = movie_df["MovieID"] == mode_movie_id

# 데이터프레임에 행의 수
# len(DataFrame) : 데이터프레임의 행의 수를 반환한다.
len(movie_df.loc[condition])

# shape 속성: 행과 열의 수를 저장한 속성
# shape[0] : 행의 수
# shape[1] : 열의 수
movie_df.loc[condition].shape[0]

40

In [9]:
data = [
    {"a": 1},
    {"a": 1},
    {"a": 1},
    {"a": 2},
    {"a": 2},
    {"a": 2},
]
df = pd.DataFrame(data)
mode_list = df["a"].mode()

for mode in mode_list:
    print(mode)

1
2

In [10]:
mpg_df = pd.read_csv("auto-mpg.csv")

In [11]:
for year in range(70, 80):
    # year -> 70 ~ 79
    # 조건식
    condition = mpg_df["model year"] == year

    # 각 년도의 차량을 선택
    year_mpg_df = mpg_df.loc[condition]

    # 연비의 평균
    print(year, year_mpg_df["mpg"].mean())

70 17.689655172413794
71 21.25
72 18.714285714285715
73 17.1
74 22.703703703703702
75 20.266666666666666
76 21.573529411764707
77 23.375
78 24.061111111111114
79 25.09310344827585

In [12]:
# horsepower 가 평균 horsepower보다 작은 데이터 선택

# 마력의 평균 계산
horsepower_mean = mpg_df["horsepower"].mean()

# 마력이 마력의 평균보다 작은 데이터 선택 후
# 연비(mpg)의 평균(mean) 계산
condition = mpg_df["horsepower"] < horsepower_mean
mpg_df.loc[condition, "mpg"].mean()

np.float64(27.542)

In [13]:
# horsepower 가 평균 horsepower보다 큰 데이터 선택

# 마력의 평균 계산
horsepower_mean = mpg_df["horsepower"].mean()

# 마력이 마력의 평균보다 큰 데이터 선택 후
# 연비(mpg)의 평균(mean) 계산
condition = mpg_df["horsepower"] > horsepower_mean
mpg_df.loc[condition, "mpg"].mean()

np.float64(16.71148648648649)

In [14]:
# 가장 무거운(max) 무게(weight)와 가벼운(min) 무게(weight)
max_weight = mpg_df["weight"].max()
min_weight = mpg_df["weight"].min()

# 데이터를 선택
# 1. 조건식(condition)
# codition = 비교할 열 , 비교 연산자 , 비교 값

# 가장 무거운 차를 찾는 비교식
condition1 = mpg_df["weight"] == max_weight

# 가장 가벼운 차를 찾는 비교식
condition2 = mpg_df["weight"] == min_weight

# 2. .loc[] 사용
# .loc[행, 열]
# .loc[조건식, 보고 싶은 열]
# 가장 무거운 차의 연비
mpg_df.loc[condition1, "mpg"]

# 가장 가벼운 차의 연비
mpg_df.loc[condition2, "mpg"]

54    35.0
Name: mpg, dtype: float64